.albumBg {
	@include bg-image2('../../img/bg1.jpg');
	backdrop-filter: blur(5px);
}

.caratula-container {
	padding: 2rem 0;
	margin: 3rem auto;
	h2 {
		font-family: $titulofont;
		font-size: 2rem;
	}
}

.caratula-innerContainer {
	display: grid;
	grid-template-columns: 40% 60%;

	width: 100rem;
	max-width: 99%;
	border-radius: 2rem;
	-webkit-box-shadow: 0 8px 10px -6px #00ff01;
	-moz-box-shadow: 0 8px 10px -6px #00ff01;
	box-shadow: 0 8px 10px -6px #00ff01;
}

// * https://www.behance.net/gallery/138024305/Instagram-UIUX-Research?tracking_source=project_owner_other_projects

.caratula-izquierda {
	background-color: $lightBlack;
	border: 3px solid black;
	color: white;
	max-width: 99%;
	width: 40rem;
	// width: 40rem; //#

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;

	.img-container {
		padding: 3rem 3rem 1.5rem 3rem;
		max-width: 99%;

		.img-caratula-album3 {
			@include bg-image('../../img/albums/horizonAlbum.jpg');
			width: 40vmin;
			height: 40vmin;
			max-height: 85%;
			max-width: 85%;
			margin: 0 auto;
		}
	}

	.texto-izquierdo {
		h1 {
			margin: 0 0 1rem 0;
		}

		margin-bottom: 2rem;
	}
}

.contenedor-playlist {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;

	.b-g-playlist {
		@include bg-image2('../../img/albums/horizonAlbum.jpg');

		z-index: 1;
		filter: blur(3px);
		-webkit-filter: blur(3px);
		height: 100%;
		width: 100%;
		text-align: center;
	}

	.playlist {
		color: white;
		font-weight: bold;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 2;
		width: 80%;
		padding: 20px;
		text-align: center;
	}
}

// # SINGLE

.caratula-innerContainer-single {
	width: 100rem;
	max-width: 99%;
	border-radius: 2rem;
	-webkit-box-shadow: 0 8px 10px -6px #00ff01;
	-moz-box-shadow: 0 8px 10px -6px #00ff01;
	box-shadow: 0 8px 10px -6px #00ff01;
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: center;
	text-align: center;
}

.caratula-single {
	background-color: $lightBlack;
	border: 3px solid black;
	color: white;
	max-width: 99%;
	width: 100rem;
	// width: 40rem; //#
	border-radius: 2rem;

	.texto-izquierdo {
		h1 {
			margin: 0 0 1rem 0;
		}

		margin-bottom: 2rem;
	}
}

.img-container-single {
	padding: 3rem 3rem 1.5rem 3rem;
	max-width: 99%;
	align-items: center;
	justify-content: space-around;

	flex-direction: column;
	// flex-wrap: wrap;
	display: flex;
}

.caratula-single-item {
	width: 90%;
	margin: 0 auto;
}
