.caratula-container {
  border: 1px white solid;
  padding: 2rem 0;
}

.caratula-innerContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 95%;
  border-radius: 1.6rem;
}

.caratula-item {
  padding: 2rem 0;
  border-radius: 1.6rem;
  padding: 1rem;
}
.caratula-item-izquierda {
  background-color: $lightBlack;
  border: 3px solid black;
  height: 30rem;
  color: white;

  display: flex;
  justify-content: center;
  align-items: flex-start;

  .caratula-item-layout {
    display: grid;
    grid-template-columns: 55% 45%;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 10rem;

    .img-caratulaContainer {
      position: relative;

      .img-caratula {
        @include bg-image("../../img/PortadaOne.jpg");
        height: 222px;
        width: 222px;
        top: -50px;
        right: -2px;
        left: 30px;
        position: absolute;
      }
    }

    .titulo-imgContainer {
      display: flex;
      flex-direction: column;
      justify-content: left;
      align-items: flex-start;

      //   .titulo-img {
      //     // position: absolute;
      //     // bottom: 80px;
      //   }
    }
  }
}

.caratula-item-derecha {
  background-color: violet;
  border-bottom: 3px solid rgb(159, 31, 182);
  margin-left: -20px;
}

// * https://www.behance.net/gallery/138024305/Instagram-UIUX-Research?tracking_source=project_owner_other_projects
