.generoBg{
    background-color: rgb(0, 0, 0);

    main{
        .titleG{
            width: 80%;
            color: white;
            text-align: center;
            margin: 50px auto;
            font-size: 3rem;
        }
        .cardGeneroPhonk{
            @include card-genero;
            @include bg-image2('../../img/albums/TokioAlbum.jpg');
           
            .difu{
                @include difuminado(row,space-between);
                .bgPhonk{
                    width: 60%;
                    @include bg-image2('../../img/albums/TokioAlbum.jpg');
                    border-radius: 40px;
                    .titleG{
                        @include title-genero;
                    }
                }
                    .textG{       
                        @include text-genero;
                    }
                }
            }
        .cardGeneroTrap{
            @include card-genero;
            @include bg-image2('../../img/albums/horizonAlbum.jpg');
            
            .difu{
                @include difuminado(row,space-between);
                .bgTrap{
                    width: 60%;
                    @include bg-image2('../../img/albums/horizonAlbum.jpg');
                    border-radius: 40px;
                    .titleG{
                        @include title-genero;
                    }
                }
                .textG{
                    @include text-genero;
                }
            }
        }
        }
    }
