/*Responsive menu y navbar*/
@media screen and (max-width: 768px) {
	.contHeader {
		display: flex;
		justify-content: space-between;
		align-items: center;
		background: rgba(0, 0, 0, 0.877);

		.contLogo {
			.logo {
				width: 80px;
			}
		}
		.menu {
			position: fixed;
			top: 0;
			left: 0;
			height: 100vh;
			width: 100%;
			margin-left: -100%;
			transition: all 0.4s linear;
			background-color: rgba(20, 20, 20, 0.89);
			z-index: 100;
			&.show {
				margin-top: 0;
				margin-left: 0;
			}
			.menuLinks {
				background-color: rgb(0, 0, 0);
				display: flex;
				flex-direction: column;
				width: 100%;
				height: 100%;
				align-items: center;
				justify-content: flex-start;
				.link {
					margin-top: 5rem;
					color: #fafafa;
					text-decoration: none;
					font-weight: bold;
					font-size: 1.5rem;
					position: relative;
					font-family: $titulofont;
					&::after {
						position: absolute;
						content: '';
						background-color: black;
						bottom: -5px;
						left: 0;
						width: 0%;
						height: 3px;
						transition: 0.3s ease all;
					}
					&:hover::after {
						width: 100%;
					}
				}
			}
		}

		.btnMenu {
			margin: 10px;
			z-index: 200;
			width: 40px;
			height: 40px;
			border: none;
			display: flex;
			background: none;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			cursor: pointer;
			span {
				width: 37px;
				height: 4px;
				margin-bottom: 5px;
				position: relative;
				background: #ebebeb;
				border-radius: 3px;
				transform-origin: 4px 0px;
				transition: all 0.2s linear;
			}
			&.close span {
				opacity: 1;
				transform: rotate(45deg) translate(0px, 0px);
				background: #a5a5a5;
			}
			&.close span:nth-child(2) {
				transform: rotate(-45deg) translate(-8px, 5px);
			}
			&.close span:nth-child(3) {
				display: none;
			}
		}
	}
}

@media (min-width: $medium) {
	footer {
		display: grid;
		grid-template-columns: 20% 80%;
		align-items: center;
		justify-content: space-between;

		.logo-footer {
			background-color: rgba(72, 70, 70, 0.117);
			-webkit-backdrop-filter: blur(1em);
			backdrop-filter: blur(1em);
		}
	}
}

@media (min-width: 905px) {
	.hero-Container {
		height: 40rem;

		.cardHero {
			grid-template-columns: 50% 50%;
			grid-template-rows: none;

			.bg-cardHero-I {
				@include bg-image2('../../img/profilePic1.jpg');
				max-width: 90%;
				border-radius: 2rem;
			}
		}
	}

	.bg-cardHero-D {
		align-items: flex-start;
		h2 {
			font-size: 5rem;
		}
	}
}

@media (min-width: $large) {
	.img-container-single {
		display: flex;
		flex-direction: row;
	}

	.caratula-innerContainer {
		display: grid;
		grid-template-columns: 40% 60%;
		align-items: stretch;
	}

	.caratula-izquierda {
		border-radius: 2rem 0 0 2rem;
	}

	.album-responsive {
		display: none;
	}
}

//Responsive Seccion CONTACTO

@media screen and (max-width: 768px) {
	.contactBg {
		main {
			.titleC {
				font-size: 1.5rem;
			}
			.contRedes {
				width: 80%;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				.izq {
					.linkRedes {
						width: 100%;
						padding: 0.5rem;
						font-size: 1.2rem;
					}
				}
				.der {
					border-top: 2px solid white;
					border-left: hidden;
					.linkRedes {
						width: 80%;
						padding: 0.5rem;
						font-size: 1.2rem;
					}
				}
			}
		}
	}
}
