.contactBg {
	@include bg-image2('../../img/bgHero-2.svg');
	backdrop-filter: blur(5px);
	// main {
	.titleC {
		font-family: $titulofont;
		font-size: 2rem;
		margin: 20px auto;
		text-align: center;
	}
	.contRedes {
		width: 80%;
		margin: 25px auto;
		padding: 2rem;
		background: rgba(22, 22, 22, 0.89);
		border-radius: 10px;
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		justify-content: space-around;
		.izq {
			width: 50%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			.titleRed {
				text-align: center;
				margin-bottom: 25px;
				font-family: $global;
				font-size: 1.3rem;
			}
			.linkRedes {
				width: 70%;
				margin-bottom: 15px;
				padding: 0 1rem;
				background: white;
				border-radius: 25px;
				color: black;
				font-size: 1.3rem;
				img {
					width: 20px;
					margin: 5px 25px 0px 10px;
				}
			}
		}
		.der {
			width: 80%;
			border-left: 2px solid white;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			.titleRed {
				text-align: center;
				margin-bottom: 25px;
				font-family: $global;
				font-size: 1.3rem;
			}
			.linkRedes {
				width: 50%;
				margin-bottom: 15px;
				padding: 0 1rem;
				background: white;
				border-radius: 25px;
				color: black;
				font-size: 1.3rem;
				img {
					width: 20px;
					margin: 5px 25px 0px 10px;
				}
			}
		}
	}
	// }
}
