footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 100%;
	// padding: 2rem 0;

	background: {
		image: url('../../img/bgAlbumes.svg');
		repeat: no-repeat;
		size: cover;
		position: left bottom;
	}

	img {
		width: 2rem;
	}
}

.logo-footer {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;

	img {
		width: 5rem;
	}
}

.social-footer {
	padding-bottom: 1rem;
	img {
		margin: 0 1rem;
	}

	h4 {
		margin: 2rem 0;
	}
}
