/* navbar */
.contHeader{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: rgba(39, 39, 39, 0.61); 
	// Logo
	.logo{
	width: 120px;

	}
	.menu{
		
		margin: 10px;
		a{
			font-size: 1.5rem;
			color: white;
			cursor: pointer;
			margin: 2px;
			border-radius: 10px;
			padding: 0 1rem;
			&:hover{
				box-shadow: -2px -2px 5px rgb(72, 255, 0) ,2px 2px 5px rgb(72, 255, 0);
			}
		}
		
	}
}
/* hero */

.hero-imgContainer {
	@include bg-image2('../../img/bgHero-2.svg');
	height: 40rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.cardHero {
	background: url('../../img/bg-card-D.jpg') repeat-x;

	border: 5px solid white;
	display: grid;
	grid-template-columns: 50% 50%;
	margin: 0 2rem;
	border-radius: 2rem;
	height: 60rem;
	max-height: 85%;
	width: 80rem;

	.bg-cardHero-I {
		@include bg-image2('../../img/profilePic1.jpg');
		max-width: 99%;
		border-radius: 2rem;
	}
}

.bg-cardHero-D {
	display: flex;
	flex-direction: column;
	align-items: left;
	justify-content: center;

	h2 {
		margin: 0;
	}

	div {
		margin: 1rem 0 1rem 4rem;

		a {
			padding: 0.5rem;

			img {
				width: 1.7rem;
			}
		}
	}
}


