/* navbar */
.contHeader {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	background: rgba(0, 0, 0, 0.877);
	// Logo
	.contLogo {
		width: 10%;

		.logo {
			width: 120px;
		}
	}
	.menu {
		width: 70%;
		text-align: end;
		margin: 10px;
		.link {
			font-size: 1.5rem;
			color: white;
			cursor: pointer;
			margin: 2px;
			border-radius: 10px;
			padding: 0 1rem;
			&:hover {
				box-shadow: -2px -2px 5px rgb(72, 255, 0), 2px 2px 5px rgb(72, 255, 0);
			}
		}
	}
	.btnMenu {
		display: none;
	}
}

/* hero */

.hero-Container {
	@include bg-image2('../../img/bgHero-2.svg');
	margin: 0 auto;
	position: relative;
	display: flex;

	align-items: center;
	justify-content: center;
}

.cardHero {
	background: url('../../img/bg-card-D.jpg') repeat-x;

	border: 5px solid white;
	display: grid;
	grid-template-rows: 60% 40%;
	margin: 0 2rem;
	border-radius: 2rem;
	height: 35rem;
	max-height: 85%;
	width: 80rem;
	max-width: 95%;
}

.bg-cardHero-I {
	background: {
		image: url('../../img/profilePic1.jpg');
		repeat: no-repeat;
		size: cover;
		position: bottom center;
	}
	max-width: 100%;
	border-radius: 2rem;
}

.bg-cardHero-D {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	max-width: 80%;

	h2 {
		margin: 0;
		font-size: 4rem;
	}

	div {
		margin: 1rem 0 1rem 4rem;

		a {
			padding: 0.5rem;

			img {
				width: 1.7rem;
			}
		}
	}
}
