.bg-Index {
	background-color: black;
}

.acercaDe {
	text-align: center;
	border-radius: 2rem;
	margin: 0 1rem -15px 1rem;
	background-color: #4242425e;
	padding: 2rem 0;

	h2 {
		margin: 0 0 3rem 0;
	}

	div {
		max-width: 75%;
		margin: 0 auto;
	}
}
