.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 95%;
	margin: 0 auto;

	@media (min-width: $medium) {
		flex-direction: row;
		gap: 2rem;
	}
}

.in-bold {
	font-weight: 700;
}

.m-0 {
	margin: 0;
}

@for $i from 1 through 10 {
	.m-t-#{$i} {
		margin-top: 1rem * $i;
	}
}
@for $i from 1 through 10 {
	.m-b-#{$i} {
		margin-bottom: 1rem * $i;
	}
}
@for $i from 1 through 10 {
	.m-l-#{$i} {
		margin-left: 1rem * $i;
	}
}
@for $i from 1 through 10 {
	.m-r-#{$i} {
		margin-right: 1rem * $i;
	}
}

@for $i from 1 through 10 {
	.m-y-#{$i} {
		margin: (1rem * $i) 0;
	}
}
@for $i from 1 through 10 {
	.m-x-#{$i} {
		margin-right: 0 (1rem * $i);
	}
}
