// # Paleta de colores

$lightBlack: #0b0f1a;
$brownBlack: #141414;
$greenFluor: #00ffb9;
$violet: #e300e3;
//black
//white

// #

// # variables responsive

$small: 480px;
$medium: 768px;
$large: 1080px;
$xl: 1445px;
