// // # Libreria Glidejs
// @import '../../node_modules/@glidejs/glide/src/assets/sass/glide.core';
// @import '../../node_modules/@glidejs/glide/src/assets/sass/glide.theme';

// # Abstract

@import 'abstract/extends';
@import 'abstract/mixins';
@import 'abstract/variables';

// #-Base
@import 'base/tipografia';
@import 'base/reset';

// #-Utilities
@import 'abstract/utilities';

// #-Componentes
@import 'components/caratula';
@import 'components/botones';
@import 'components/genero';

// #-layouts
@import 'layout/footer';
@import 'layout/header';
@import 'layout/inicio';
@import 'layout/contact';

// # Responsive
@import 'base/responsive';
